<div class="container">
    <div class="title-cont">
        <div class="row title-inner">
            <span class="col-sm-10 title">
                Clients
            </span>
            <button class="btn btn-outline-dark col-sm-2" (click)="add(content)">New Client</button>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Providers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients; trackBy: trackByFn">
                <td>
                    <ngb-highlight [result]="client.name"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="client.email"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="client.phone"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="join(client.providers)"></ngb-highlight>
                </td>
                <td class="actions-column">
                    <a (click)="edit(content, client)">Edit</a>
                    <a (click)="delete(client.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{editMode ? 'Edit' : 'New'}} Client</h4>
    </div>
    <div class="modal-body">
        <form #form="ngForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label t-a-r">Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="name" [(ngModel)]="currentClient.name" required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label t-a-r">Email:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="email" [(ngModel)]="currentClient.email" required email />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label t-a-r">Phone:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="phone" [(ngModel)]="currentClient.phone" required pattern="[0-9]{10}" />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label t-a-r">Providers:</label>
                <div class="col-sm-6">
                    <input class="form-control" name="pname" [(ngModel)]="currentProvider.name" />
                </div>
                <div class="col-sm-3" style="padding-left: 0;">
                    <button type="button" class="btn btn-outline-dark" (click)="submitProvider()">
                        {{providersEditMode ? 'Save' : 'Add'}} Provider
                    </button>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <ul>
                        <li *ngFor="let provider of providers; let i = index; trackBy: trackByFn" class="row">
                            <div class="form-check col-sm-8">
                                <div class="row">
                                    <input class="form-check-input col-sm-2"
                                            type="checkbox"
                                            id="check{{i}}"
                                            checked="{{isChecked(provider) ? 'checked' : null}}"
                                            (change)="onCheck($event, provider)">
                                    <label class="form-check-label col-sm-8" for="check{{i}}">
                                        {{provider.name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <i class="bi bi-pencil-square" (click)="editProvider(provider)"></i>
                                <i class="bi bi-trash-fill" (click)="deleteProvider(provider.id)"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="modal.close(currentClient)">
            {{editMode ? 'Save' : 'Add'}} Client
        </button>
    </div>
</ng-template>