.container {
    width: 800px;
    margin: auto;

    .title-cont {
        background-color: aliceblue;

        .title-inner {
            margin: 0 10px;
            padding: 15px 0;

            .title {
                font-size: 25px;
            }
        }
    }
}

.t-a-r {
    text-align: right;
}

ul {
    list-style: none;
    border: 1px solid #ced4da;
    border-radius: .25rem;

    li {
        padding: 3px;
    }
}

i {
    padding-left: 10px;
}

.actions-column {
    width: 100px;

    a {
        cursor: pointer;
        text-decoration: underline;
        padding: 5px;
    }
}